openapi: 3.0.1
info:
  title: NZBN
  description: "The New Zealand Business Number (NZBN) API provides a range of operations for getting information about a New Zealand business, updating details, managing watchlists, and managing business authorities. There is no fee for using this API.\n\nSee [here](/api/nzbn) for additional information on how to use the API.\n"
  version: v5
servers:
  - url: https://api.business.govt.nz/gateway/nzbn/v5
  - url: https://api.int.mbie.govt.nz/gateway/nzbn/v5
  - url: https://apim.api.int.mbie.govt.nz/gateway/nzbn/v5
paths:
  /entities:
    get:
      tags:
        - 01. Entities
      summary: NZBN_001_1 - Search the NZBN directory by name (text search)
      description: Search for an entity by name.
      operationId: EntitiesGet
      parameters:
        - name: search-term
          in: query
          description: 'The text string to search for. Free-text search searches across current and past entity names, current and past trading names, NZBN and legacy numbers (eg company number).'
          required: true
          schema:
            type: string
        - name: entity-status
          in: query
          description: 'Entity status search filter element (one or more of Registered, VoluntaryAdministration, InReceivership, InLiquidation, InStatutoryAdministration,Inactive,RemovedClosed)'
          schema:
            type: string
        - name: entity-type
          in: query
          description: 'Entity type search filter element (one or more of NZCompany,OverseasCompany, SoleTrader, Partnership, Trust, BuildingSociety, CharitableTrust, CreditUnion, FriendlySociety, IncorporatedSociety, IndustrialAndProvidentSociety, LimitedPartnershipNz, LimitedPartnershipOverseas, SpecialBodies, SpecialBody, Trading_Trust, Sole_Trader, B, I, D, F, N, S, T, Y, Z, GovtCentral, GovtEdu, GovtLocal, GovtOther, LTD, ULTD, COOP,ASIC, NON_ASIC'
          schema:
            type: string
        - name: industry-code
          in: query
          description: Industry code search filter element
          schema:
            type: string
        - name: page
          in: query
          description: 'Format - int32. Number of search records page (for pagination), zero indexed'
          schema:
            type: integer
        - name: page-size
          in: query
          description: Format - int32. Number of search records to be returned (for pagination)
          schema:
            type: integer
        - name: api-business-govt-nz-Request-Id
          in: header
          description: Request id. Provide a UUID that is unique to this request.  This header is not required.
          schema:
            type: string
      responses:
        '200':
          description: Returns a search result array of entities. Results are sorted by relevance.
          headers:
            api-business-govt-nz-Correlation-Id:
              schema:
                type: string
            api-business-govt-nz-Request-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchEntityResponse'
              example:
                pageSize: 0
                page: 0
                totalItems: 0
                sortBy: string
                sortOrder: string
                items:
                  - entityStatusCode: string
                    entityName: string
                    nzbn: string
                    entityTypeCode: string
                    entityTypeDescription: string
                    entityStatusDescription: string
                    tradingNames:
                      - uniqueIdentifier: string
                        name: string
                        startDate: string
                        endDate: string
                    classifications:
                      - uniqueIdentifier: string
                        classificationCode: string
                        classificationDescription: string
                    previousEntityNames:
                      - string
                    registrationDate: string
                    sourceRegisterUniqueId: string
                    links:
                      - rel: string
                        href: string
                        methods:
                          - string
                links:
                  - rel: string
                    href: string
                    methods:
                      - string
        '400':
          description: Request failed validation. Appropriate headers not provided or request did not validate or is not supported.
          headers:
            api-business-govt-nz-Correlation-Id:
              schema:
                type: string
            api-business-govt-nz-Request-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: string
                errorDescription: string
                errorCode: string
                list:
                  - field: string
                    message: string
        '401':
          description: 'Permission Denied, need to be authenticated to access or modify this resource.'
          headers:
            api-business-govt-nz-Correlation-Id:
              schema:
                type: string
            api-business-govt-nz-Request-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: string
                errorDescription: string
                errorCode: string
                list:
                  - field: string
                    message: string
        '403':
          description: 'Permission Denied, need to be authorised to access or modify this resource.'
          headers:
            api-business-govt-nz-Correlation-Id:
              schema:
                type: string
            api-business-govt-nz-Request-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: string
                errorDescription: string
                errorCode: string
                list:
                  - field: string
                    message: string
        '500':
          description: An internal error has ocurred.
          headers:
            api-business-govt-nz-Correlation-Id:
              schema:
                type: string
            api-business-govt-nz-Request-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: string
                errorDescription: string
                errorCode: string
                list:
                  - field: string
                    message: string
    post:
      tags:
        - 02. Entities Updates
      summary: 'NZBN_003 - Create a new NZBN entity - one of sole-trader, partnership, trust'
      description: 'Create an NZBN entity - one of sole trader, partnership, trust.'
      operationId: registerNzbn
      parameters:
        - name: api-business-govt-nz-Request-Id
          in: header
          description: Request id. Provide a UUID that is unique to this request.  This header is not required.
          schema:
            type: string
        - name: If-None-Match
          in: header
          description: If-None-Match. Takes an ETag - optional for GET
          schema:
            type: string
      requestBody:
        description: Entity that needs to be added
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostableEntity'
            example:
              entityStatusCode: string
              entityName: string
              nzbn: string
              entityTypeCode: string
              entityTypeDescription: string
              entityStatusDescription: string
              registrationDate: string
              startDate: string
              sourceRegister: string
              sourceRegisterUniqueIdentifier: string
              gstStatus: string
              gstEffectiveDate: string
              lastUpdatedDate: string
              locationIdentifier: string
              australianBusinessNumber: string
              australianCompanyNumber: string
              australianServiceAddress: string
              entityNames:
                - entityName: string
                  startDate: string
                  endDate: string
              entityStatus:
                - entityStatus: string
                  startDate: string
                  endDate: string
                  statusReasonCode: string
                  comment: string
              emailAddress:
                - uniqueIdentifier: string
                  emailAddress: string
                  emailPurpose: string
                  emailPurposeDescription: string
                  startDate: string
              otherAddress:
                - uniqueIdentifier: string
                  startDate: string
                  endDate: string
                  careOf: string
                  address1: string
                  address2: string
                  address3: string
                  address4: string
                  postCode: string
                  countryCode: string
                  pafId: string
                  description: string
              registeredAddress:
                - uniqueIdentifier: string
                  startDate: string
                  endDate: string
                  careOf: string
                  address1: string
                  address2: string
                  address3: string
                  address4: string
                  postCode: string
                  countryCode: string
                  pafId: string
              postalAddress:
                - uniqueIdentifier: string
                  startDate: string
                  endDate: string
                  careOf: string
                  address1: string
                  address2: string
                  address3: string
                  address4: string
                  postCode: string
                  countryCode: string
                  pafId: string
                  postalIsPhysicalAddress: true
                  postalIsRegisteredAddress: true
              industryClassification:
                - uniqueIdentifier: string
                  classificationCode: string
                  classificationDescription: string
              principalPlaceOfActivity:
                - uniqueIdentifier: string
                  startDate: string
                  endDate: string
                  careOf: string
                  address1: string
                  address2: string
                  address3: string
                  address4: string
                  postCode: string
                  countryCode: string
                  pafId: string
              physicalAddress:
                - uniqueIdentifier: string
                  startDate: string
                  endDate: string
                  careOf: string
                  address1: string
                  address2: string
                  address3: string
                  address4: string
                  postCode: string
                  countryCode: string
                  pafId: string
              phoneNumber:
                - uniqueIdentifier: string
                  phonePurpose: string
                  phonePurposeDescription: string
                  phoneCountryCode: string
                  phoneAreaCode: string
                  phoneNumber: string
                  startDate: string
              website:
                - uniqueIdentifier: string
                  url: string
                  startDate: string
              tradingNames:
                - uniqueIdentifier: string
                  name: string
                  startDate: string
                  endDate: string
              privacySettings:
                nzbnPrivateInformation: true
                entityTypePrivateInformation: true
                startDatePrivateInformation: true
                statusPrivateInformation: true
                locationIdPrivateInformation: true
                namePrivateInformation: true
                tradingNamePrivateInformation: true
                webSitePrivateInformation: true
                businessClassificationPrivateInformation: true
                gstStatusPrivateInformation: true
                phonePrivateInformation: true
                emailPrivateInformation: true
                registeredAddressPrivateInformation: true
                postalAddressPrivateInformation: true
                principalAddressPrivateInformation: true
                otherAddressPrivateInformation: true
                partnersPrivateInformation: true
                trusteesPrivateInformation: true
                publicSuggestChangesYn: true
                gstEffectiveDatePrivateInformation: true
                physicalAddressPrivateInformation: true
                australianBusinessNumberPrivateInformation: true
                australianCompanyNumberPrivateInformation: true
                australianServiceAddressPrivateInformation: true
              company:
                annualReturnFilingMonth: 0
                financialReportFilingMonth: 0
                nzsxCode: string
                annualReturnLastFiled: string
                hasConstitutionFiled: true
                countryOfOrigin: string
                overseasCompany: string
                extensiveShareholding: true
                stockExchangeListed: true
                shareholding:
                  numberOfShares: 0
                  shareAllocation:
                    - allocation: 0
                      shareholder:
                        - type: string
                          appointmentDate: string
                          vacationDate: string
                          individualShareholder:
                            firstName: string
                            middleNames: string
                            lastName: string
                            fullName: string
                          otherShareholder:
                            currentEntityName: string
                            nzbn: string
                            companyNumber: string
                            entityType: string
                          shareholderAddress:
                            uniqueIdentifier: string
                            startDate: string
                            endDate: string
                            careOf: string
                            address1: string
                            address2: string
                            address3: string
                            address4: string
                            postCode: string
                            countryCode: string
                            addressType: POSTAL
                            pafId: string
                  historicShareholder:
                    - type: string
                      appointmentDate: string
                      vacationDate: string
                      historicShareholderAddress:
                        uniqueIdentifier: string
                        startDate: string
                        endDate: string
                        careOf: string
                        address1: string
                        address2: string
                        address3: string
                        address4: string
                        postCode: string
                        countryCode: string
                        addressType: POSTAL
                        pafId: string
                      historicIndividualShareholder:
                        firstName: string
                        middleNames: string
                        lastName: string
                        fullName: string
                      historicOtherShareholder:
                        currentEntityName: string
                        nzbn: string
                        companyNumber: string
                        entityType: string
                ultimateHoldingCompany:
                  yn: true
                  name: string
                  type: string
                  number: string
                  nzbn: string
                  country: string
                  effectiveDate: string
                  ultimateHoldingCompanyAddress:
                    - uniqueIdentifier: string
                      startDate: string
                      endDate: string
                      careOf: string
                      address1: string
                      address2: string
                      address3: string
                      address4: string
                      postCode: string
                      countryCode: string
                      addressType: POSTAL
                      pafId: string
                removalCommenced: true
                insolvencyDetails:
                  commenced: string
                  insolvencyType: Liquidation
                  insolvencyReport:
                    - name: string
                      filed: true
                      date: string
                  insolvencyAppointee:
                    - firstName: string
                      middleNames: string
                      lastName: string
                      fullName: string
                      organisationName: string
                      appointmentDate: string
                      vacationDate: string
                      email: string
                      insolvencyAppointeePhoneNumber:
                        - uniqueIdentifier: string
                          phonePurpose: string
                          phonePurposeDescription: string
                          phoneCountryCode: string
                          phoneAreaCode: string
                          phoneNumber: string
                          startDate: string
                      insolvencyAppointeeAddress:
                        uniqueIdentifier: string
                        startDate: string
                        endDate: string
                        careOf: string
                        address1: string
                        address2: string
                        address3: string
                        address4: string
                        postCode: string
                        countryCode: string
                        addressType: POSTAL
                        pafId: string
                insolvencies:
                  - commenced: string
                    insolvencyType: Liquidation
                    insolvencyReport:
                      - name: string
                        filed: true
                        date: string
                    insolvencyAppointee:
                      - firstName: string
                        middleNames: string
                        lastName: string
                        fullName: string
                        organisationName: string
                        appointmentDate: string
                        vacationDate: string
                        email: string
                        insolvencyAppointeePhoneNumber:
                          - uniqueIdentifier: string
                            phonePurpose: string
                            phonePurposeDescription: string
                            phoneCountryCode: string
                            phoneAreaCode: string
                            phoneNumber: string
                            startDate: string
                        insolvencyAppointeeAddress:
                          uniqueIdentifier: string
                          startDate: string
                          endDate: string
                          careOf: string
                          address1: string
                          address2: string
                          address3: string
                          address4: string
                          postCode: string
                          countryCode: string
                          addressType: POSTAL
                          pafId: string
              roles:
                - roleType: string
                  roleStatus: string
                  startDate: string
                  endDate: string
                  asicDirectorshipYn: true
                  asicName: string
                  acn: string
                  roleEntity:
                    nzbn: string
                    entityName: string
                  rolePerson:
                    title: string
                    firstName: string
                    middleNames: string
                    lastName: string
                  roleAddress:
                    - uniqueIdentifier: string
                      startDate: string
                      endDate: string
                      careOf: string
                      address1: string
                      address2: string
                      address3: string
                      address4: string
                      postCode: string
                      countryCode: string
                      pafId: string
                  roleAsicAddress:
                    - uniqueIdentifier: string
                      startDate: string
                      endDate: string
                      careOf: string
                      address1: string
                      address2: string
                      address3: string
                      address4: string
                      postCode: string
                      countryCode: string
                      pafId: string
                  uniqueIdentifier: string
              supportingInformation:
                documents:
                  - documentId: string
                    documentType: string
                    url:
                      rel: string
                      href: string
                      methods:
                        - string
                    document:
                      rel: string
                      href: string
                      methods:
                        - string
                proofOfIdentity:
                  - metadataId: string
                    metadataType: string
                    Name: string
                    DateOfBirth: string
                    Number: string
                    Version: string
                    ExpiryDate: string
                authorityType: DELEGATED
                organisationId: string
      responses:
        '200':
          description: Success
          headers:
            api-business-govt-nz-Correlation-Id:
              description: MBIE Correlation id header
              schema:
                type: string
            api-business-govt-nz-Request-Id:
              description: MBIE Request id header
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostableEntity'
              example:
                entityStatusCode: string
                entityName: string
                nzbn: string
                entityTypeCode: string
                entityTypeDescription: string
                entityStatusDescription: string
                registrationDate: string
                startDate: string
                sourceRegister: string
                sourceRegisterUniqueIdentifier: string
                gstStatus: string
                gstEffectiveDate: string
                lastUpdatedDate: string
                locationIdentifier: string
                australianBusinessNumber: string
                australianCompanyNumber: string
                australianServiceAddress: string
                entityNames:
                  - entityName: string
                    startDate: string
                    endDate: string
                entityStatus:
                  - entityStatus: string
                    startDate: string
                    endDate: string
                    statusReasonCode: string
                    comment: string
                emailAddress:
                  - uniqueIdentifier: string
                    emailAddress: string
                    emailPurpose: string
                    emailPurposeDescription: string
                    startDate: string
                otherAddress:
                  - uniqueIdentifier: string
                    startDate: string
                    endDate: string
                    careOf: string
                    address1: string
                    address2: string
                    address3: string
                    address4: string
                    postCode: string
                    countryCode: string
                    pafId: string
                    description: string
                registeredAddress:
                  - uniqueIdentifier: string
                    startDate: string
                    endDate: string
                    careOf: string
                    address1: string
                    address2: string
                    address3: string
                    address4: string
                    postCode: string
                    countryCode: string
                    pafId: string
                postalAddress:
                  - uniqueIdentifier: string
                    startDate: string
                    endDate: string
                    careOf: string
                    address1: string
                    address2: string
                    address3: string
                    address4: string
                    postCode: string
                    countryCode: string
                    pafId: string
                    postalIsPhysicalAddress: true
                    postalIsRegisteredAddress: true
                industryClassification:
                  - uniqueIdentifier: string
                    classificationCode: string
                    classificationDescription: string
                principalPlaceOfActivity:
                  - uniqueIdentifier: string
                    startDate: string
                    endDate: string
                    careOf: string
                    address1: string
                    address2: string
                    address3: string
                    address4: string
                    postCode: string
                    countryCode: string
                    pafId: string
                physicalAddress:
                  - uniqueIdentifier: string
                    startDate: string
                    endDate: string
                    careOf: string
                    address1: string
                    address2: string
                    address3: string
                    address4: string
                    postCode: string
                    countryCode: string
                    pafId: string
                phoneNumber:
                  - uniqueIdentifier: string
                    phonePurpose: string
                    phonePurposeDescription: string
                    phoneCountryCode: string
                    phoneAreaCode: string
                    phoneNumber: string
                    startDate: string
                website:
                  - uniqueIdentifier: string
                    url: string
                    startDate: string
                tradingNames:
                  - uniqueIdentifier: string
                    name: string
                    startDate: string
                    endDate: string
                privacySettings:
                  nzbnPrivateInformation: true
                  entityTypePrivateInformation: true
                  startDatePrivateInformation: true
                  statusPrivateInformation: true
                  locationIdPrivateInformation: true
                  namePrivateInformation: true
                  tradingNamePrivateInformation: true
                  webSitePrivateInformation: true
                  businessClassificationPrivateInformation: true
                  gstStatusPrivateInformation: true
                  phonePrivateInformation: true
                  emailPrivateInformation: true
                  registeredAddressPrivateInformation: true
                  postalAddressPrivateInformation: true
                  principalAddressPrivateInformation: true
                  otherAddressPrivateInformation: true
                  partnersPrivateInformation: true
                  trusteesPrivateInformation: true
                  publicSuggestChangesYn: true
                  gstEffectiveDatePrivateInformation: true
                  physicalAddressPrivateInformation: true
                  australianBusinessNumberPrivateInformation: true
                  australianCompanyNumberPrivateInformation: true
                  australianServiceAddressPrivateInformation: true
                company:
                  annualReturnFilingMonth: 0
                  financialReportFilingMonth: 0
                  nzsxCode: string
                  annualReturnLastFiled: string
                  hasConstitutionFiled: true
                  countryOfOrigin: string
                  overseasCompany: string
                  extensiveShareholding: true
                  stockExchangeListed: true
                  shareholding:
                    numberOfShares: 0
                    shareAllocation:
                      - allocation: 0
                        shareholder:
                          - type: string
                            appointmentDate: string
                            vacationDate: string
                            individualShareholder:
                              firstName: string
                              middleNames: string
                              lastName: string
                              fullName: string
                            otherShareholder:
                              currentEntityName: string
                              nzbn: string
                              companyNumber: string
                              entityType: string
                            shareholderAddress:
                              uniqueIdentifier: string
                              startDate: string
                              endDate: string
                              careOf: string
                              address1: string
                              address2: string
                              address3: string
                              address4: string
                              postCode: string
                              countryCode: string
                              addressType: POSTAL
                              pafId: string
                    historicShareholder:
                      - type: string
                        appointmentDate: string
                        vacationDate: string
                        historicShareholderAddress:
                          uniqueIdentifier: string
                          startDate: string
                          endDate: string
                          careOf: string
                          address1: string
                          address2: string
                          address3: string
                          address4: string
                          postCode: string
                          countryCode: string
                          addressType: POSTAL
                          pafId: string
                        historicIndividualShareholder:
                          firstName: string
                          middleNames: string
                          lastName: string
                          fullName: string
                        historicOtherShareholder:
                          currentEntityName: string
                          nzbn: string
                          companyNumber: string
                          entityType: string
                  ultimateHoldingCompany:
                    yn: true
                    name: string
                    type: string
                    number: string
                    nzbn: string
                    country: string
                    effectiveDate: string
                    ultimateHoldingCompanyAddress:
                      - uniqueIdentifier: string
                        startDate: string
                        endDate: string
                        careOf: string
                        address1: string
                        address2: string
                        address3: string
                        address4: string
                        postCode: string
                        countryCode: string
                        addressType: POSTAL
                        pafId: string
                  removalCommenced: true
                  insolvencyDetails:
                    commenced: string
                    insolvencyType: Liquidation
                    insolvencyReport:
                      - name: string
                        filed: true
                        date: string
                    insolvencyAppointee:
                      - firstName: string
                        middleNames: string
                        lastName: string
                        fullName: string
                        organisationName: string
                        appointmentDate: string
                        vacationDate: string
                        email: string
                        insolvencyAppointeePhoneNumber:
                          - uniqueIdentifier: string
                            phonePurpose: string
                            phonePurposeDescription: string
                            phoneCountryCode: string
                            phoneAreaCode: string
                            phoneNumber: string
                            startDate: string
                        insolvencyAppointeeAddress:
                          uniqueIdentifier: string
                          startDate: string
                          endDate: string
                          careOf: string
                          address1: string
                          address2: string
                          address3: string
                          address4: string
                          postCode: string
                          countryCode: string
                          addressType: POSTAL
                          pafId: string
                  insolvencies:
                    - commenced: string
                      insolvencyType: Liquidation
                      insolvencyReport:
                        - name: string
                          filed: true
                          date: string
                      insolvencyAppointee:
                        - firstName: string
                          middleNames: string
                          lastName: string
                          fullName: string
                          organisationName: string
                          appointmentDate: string
                          vacationDate: string
                          email: string
                          insolvencyAppointeePhoneNumber:
                            - uniqueIdentifier: string
                              phonePurpose: string
                              phonePurposeDescription: string
                              phoneCountryCode: string
                              phoneAreaCode: string
                              phoneNumber: string
                              startDate: string
                          insolvencyAppointeeAddress:
                            uniqueIdentifier: string
                            startDate: string
                            endDate: string
                            careOf: string
                            address1: string
                            address2: string
                            address3: string
                            address4: string
                            postCode: string
                            countryCode: string
                            addressType: POSTAL
                            pafId: string
                roles:
                  - roleType: string
                    roleStatus: string
                    startDate: string
                    endDate: string
                    asicDirectorshipYn: true
                    asicName: string
                    acn: string
                    roleEntity:
                      nzbn: string
                      entityName: string
                    rolePerson:
                      title: string
                      firstName: string
                      middleNames: string
                      lastName: string
                    roleAddress:
                      - uniqueIdentifier: string
                        startDate: string
                        endDate: string
                        careOf: string
                        address1: string
                        address2: string
                        address3: string
                        address4: string
                        postCode: string
                        countryCode: string
                        pafId: string
                    roleAsicAddress:
                      - uniqueIdentifier: string
                        startDate: string
                        endDate: string
                        careOf: string
                        address1: string
                        address2: string
                        address3: string
                        address4: string
                        postCode: string
                        countryCode: string
                        pafId: string
                    uniqueIdentifier: string
                supportingInformation:
                  documents:
                    - documentId: string
                      documentType: string
                      url:
                        rel: string
                        href: string
                        methods:
                          - string
                      document:
                        rel: string
                        href: string
                        methods:
                          - string
                  proofOfIdentity:
                    - metadataId: string
                      metadataType: string
                      Name: string
                      DateOfBirth: string
                      Number: string
                      Version: string
                      ExpiryDate: string
                  authorityType: DELEGATED
                  organisationId: string
        '400':
          description: Request failed validation. Appropriate headers not provided or request did not validate or is not supported.
          headers:
            api-business-govt-nz-Correlation-Id:
              schema:
                type: string
            api-business-govt-nz-Request-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: string
                errorDescription: string
                errorCode: string
                list:
                  - field: string
                    message: string
        '401':
          description: 'Permission Denied, need to be authenticated to access or modify this resource.'
          headers:
            api-business-govt-nz-Correlation-Id:
              schema:
                type: string
            api-business-govt-nz-Request-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: string
                errorDescription: string
                errorCode: string
                list:
                  - field: string
                    message: string
        '403':
          description: 'Permission Denied, need to be authorised to access or modify this resource.'
          headers:
            api-business-govt-nz-Correlation-Id:
              schema:
                type: string
            api-business-govt-nz-Request-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: string
                errorDescription: string
                errorCode: string
                list:
                  - field: string
                    message: string
        '404':
          description: Specified resource was not found.
          headers:
            api-business-govt-nz-Correlation-Id:
              schema:
                type: string
            api-business-govt-nz-Request-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: string
                errorDescription: string
                errorCode: string
                list:
                  - field: string
                    message: string
        '412':
          description: Concurrency headers could be be validated. Neither If-None-Match or If-Modified-Since could be validated
          headers:
            api-business-govt-nz-Correlation-Id:
              schema:
                type: string
            api-business-govt-nz-Request-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: string
                errorDescription: string
                errorCode: string
                list:
                  - field: string
                    message: string
        '500':
          description: An internal error has ocurred.
          headers:
            api-business-govt-nz-Correlation-Id:
              schema:
                type: string
            api-business-govt-nz-Request-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: string
                errorDescription: string
                errorCode: string
                list:
                  - field: string
                    message: string
  /entities/changes:
    get:
      tags:
        - 01. Entities
      summary: NZBN_001_2 - Search NZBN Entity Changes
      description: Search for NZBN entities based on change history.
      operationId: EntitiesChangesGet
      parameters:
        - name: change-event-type
          in: query
          description: "A comma separated list of change events to match when searching the change history\nALL,\nNEW,\nENTITY,\nENTITY_NAME,\nENTITY_STATUS,\nADDRESSES_REGISTERED,\nADDRESSES_OFFICE,\nADDRESSES_POSTAL,\nADDRESSES_RECORDS,\nADDRESSES_SHAREREGISTER,\nADDRESSES_INVOICE,\nADDRESSES_DELIVERY,\nADDRESSES_SERVICE,\nCOMPANYDETAILS_FRAFILINGMONTH,\nCOMPANYDETAILS_ARFILINGMONTH,\nCOMPANYDETAILS_CONSTITUTIONFILED,\nCOMPANYDETAILS_COUNTRYOFORIGIN,\nCOMPANYDETAILS_NZSXCODE,\nCOMPANYDETAILS_ACNNUMBER,\nCOMPANYDETAILS_ULTIMATEHOLDINGCOMPANY,\nCOMPANYDETAILS_SHAREHOLDING,\nCOMPANYDETAILS_INSOLVENCYDETAILS,\nCOMPANYDETAILS_FILINGS, \nCOMPANYDETAILS_REMOVALCOMMENCED,  \nCOMPANYDETAILS_ANNUALRETURNS,\nCOMPANYDETAILS_FINANCIALSTATEMENTS,          \nROLES_DIRECTOR,\nROLES_SOLETRADER,\nROLES_OFFICER,\nROLES_TRUSTEE_INDIVIDUAL,\nROLES_PARTNER_INDIVIDUAL,\nROLES_TRUSTEE_OTHER,\nROLES_PARTNER_OTHER,\nROLES_PARTNER_GENERAL_PARTNER,\nROLES_PERSONAUTHORISEDFORSERVICE,\nPRIVACYSETTINGS,\nTRADINGNAMES,\nWEBSITES,\nPHONENUMBERS,\nEMAILADDRESSES,\nGSTNUMBER,\nTRADINGAREAS,\nAUSTRALIANBUSINESSNUMBER,\nINDUSTRYCLASSIFICATIONS,\nBUSINESSETHNICITYIDENTIFIER,\nPAYMENTBANKACCOUNT\n"
          required: true
          schema:
            type: string
        - name: entity-type
          in: query
          description: 'Entity type search filter element (one or more of Trading_Trust, Sole_Trader, Y, Z, GovtCentral, GovtEdu, GovtLocal, GovtOther, LTD, ULTD, COOP,ASIC, NON_ASIC'
          schema:
            type: string
        - name: date-time-from
          in: query
          description: Start date for change history search (format YYYY-MM-DDThh:mm:ss)
          schema:
            type: string
        - name: date-time-to
          in: query
          description: End date for change history search (format YYYY-MM-DDThh:mm:ss)
          schema:
            type: string
        - name: page
          in: query
          description: 'Format - int32. Number of search records page (for pagination), zero indexed'
          schema:
            type: integer
        - name: page-size
          in: query
          description: Format - int32. Number of search records to be returned (for pagination)
          schema:
            type: integer
        - name: sort-by
          in: query
          description: Parameter by which to sort the search results.
          schema:
            enum:
              - NZBN
              - ENTITY_NAME
              - ENTITY_STATUS
              - ENTITY_TYPE_CODE
            type: string
            default: NZBN
        - name: sort-order
          in: query
          description: 'API Consumer can specify "ASC" or "DESC" to sort by the attribute specified in the sortBy parameter.   ASC will sort in ascending order, DESC will sort in descending order.'
          schema:
            enum:
              - ASC
              - DESC
            type: string
            default: ASC
        - name: api-business-govt-nz-Request-Id
          in: header
          description: Request id. Provide a UUID that is unique to this request.  This header is not required.
          schema:
            type: string
      responses:
        '200':
          description: Returns a search result array of entities. Results are sorted by relevance.
          headers:
            api-business-govt-nz-Correlation-Id:
              schema:
                type: string
            api-business-govt-nz-Request-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchEntityChangeResponse'
              example:
                pageSize: 0
                page: 0
                totalItems: 0
                sortBy: string
                sortOrder: string
                items:
                  - nzbn: string
                    entityName: string
                    changeDateTime: string
                    items:
                      - changeEventType: string
                        newValue: string
                        resourceLink: string
                        link:
                          rel: string
                          href: string
                          methods:
                            - string
                links:
                  - rel: string
                    href: string
                    methods:
                      - string
        '400':
          description: Request failed validation. Appropriate headers not provided or request did not validate or is not supported.
          headers:
            api-business-govt-nz-Correlation-Id:
              schema:
                type: string
            api-business-govt-nz-Request-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: string
                errorDescription: string
                errorCode: string
                list:
                  - field: string
                    message: string
        '401':
          description: 'Permission Denied, need to be authenticated to access or modify this resource.'
          headers:
            api-business-govt-nz-Correlation-Id:
              schema:
                type: string
            api-business-govt-nz-Request-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: string
                errorDescription: string
                errorCode: string
                list:
                  - field: string
                    message: string
        '403':
          description: 'Permission Denied, need to be authorised to access or modify this resource.'
          headers:
            api-business-govt-nz-Correlation-Id:
              schema:
                type: string
            api-business-govt-nz-Request-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: string
                errorDescription: string
                errorCode: string
                list:
                  - field: string
                    message: string
        '500':
          description: An internal error has ocurred.
          headers:
            api-business-govt-nz-Correlation-Id:
              schema:
                type: string
            api-business-govt-nz-Request-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: string
                errorDescription: string
                errorCode: string
                list:
                  - field: string
                    message: string
  '/entities/{nzbn}':
    get:
      tags:
        - 01. Entities
      summary: NZBN_002 - View an NZBN
      description: Get an NZBN Entity
      operationId: EntitiesByNzbnGet
      parameters:
        - name: nzbn
          in: path
          description: NZBN entity to get details for
          required: true
          schema:
            type: string
        - name: api-business-govt-nz-Request-Id
          in: header
          description: Request id. Provide a UUID that is unique to this request.  This header is not required.
          schema:
            type: string
        - name: If-None-Match
          in: header
          description: If-None-Match. Takes an ETag - optional for GET
          schema:
            type: string
      responses:
        '200':
          description: Success
          headers:
            ETag:
              schema:
                type: string
            api-business-govt-nz-Correlation-Id:
              schema:
                type: string
            api-business-govt-nz-Request-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FullEntity'
              example:
                entityStatusCode: string
                entityName: string
                nzbn: string
                entityTypeCode: string
                entityTypeDescription: string
                entityStatusDescription: string
                registrationDate: string
                sourceRegister: string
                sourceRegisterUniqueIdentifier: string
                lastUpdatedDate: string
                australianBusinessNumber: string
                emailAddresses:
                  - uniqueIdentifier: string
                    emailAddress: string
                    emailPurpose: string
                    emailPurposeDescription: string
                    startDate: string
                addresses:
                  links:
                    - rel: string
                      href: string
                      methods:
                        - string
                  addressList:
                    - uniqueIdentifier: string
                      startDate: string
                      endDate: string
                      careOf: string
                      address1: string
                      address2: string
                      address3: string
                      address4: string
                      postCode: string
                      countryCode: string
                      addressType: POSTAL
                      pafId: string
                industryClassifications:
                  - uniqueIdentifier: string
                    classificationCode: string
                    classificationDescription: string
                phoneNumbers:
                  - uniqueIdentifier: string
                    phonePurpose: string
                    phonePurposeDescription: string
                    phoneCountryCode: string
                    phoneAreaCode: string
                    phoneNumber: string
                    startDate: string
                websites:
                  - uniqueIdentifier: string
                    url: string
                    websitePurpose: string
                    startDate: string
                tradingNames:
                  - uniqueIdentifier: string
                    name: string
                    startDate: string
                    endDate: string
                privacySettings:
                  namePrivateInformation: true
                  tradingNamePrivateInformation: true
                  businessClassificationPrivateInformation: true
                  phonePrivateInformation: true
                  emailPrivateInformation: true
                  partnersPrivateInformation: true
                  trusteesPrivateInformation: true
                  publicSuggestChangesYn: true
                  abnPrivateInformation: true
                  gstNumberPrivateInformation: true
                  paymentBankAccountNumbersPrivateInformation: true
                  registeredAddressPrivateInformation: true
                  postalAddressPrivateInformation: true
                  serviceAddressPrivateInformation: true
                  invoiceAddressPrivateInformation: true
                  deliveryAddressPrivateInformation: true
                  officeAddressPrivateInformation: true
                  businessEthnicityPrivateInformation: true
                company-details:
                  annualReturnFilingMonth: 0
                  financialReportFilingMonth: 0
                  nzsxCode: string
                  annualReturnLastFiled: string
                  hasConstitutionFiled: true
                  countryOfOrigin: string
                  overseasCompany: string
                  extensiveShareholding: true
                  stockExchangeListed: true
                  shareholding:
                    numberOfShares: 0
                    shareAllocation:
                      - allocation: 0
                        shareholder:
                          - type: string
                            appointmentDate: string
                            vacationDate: string
                            individualShareholder:
                              firstName: string
                              middleNames: string
                              lastName: string
                              fullName: string
                            otherShareholder:
                              currentEntityName: string
                              nzbn: string
                              companyNumber: string
                              entityType: string
                            shareholderAddress:
                              uniqueIdentifier: string
                              startDate: string
                              endDate: string
                              careOf: string
                              address1: string
                              address2: string
                              address3: string
                              address4: string
                              postCode: string
                              countryCode: string
                              addressType: POSTAL
                              pafId: string
                    historicShareholder:
                      - type: string
                        appointmentDate: string
                        vacationDate: string
                        historicShareholderAddress:
                          uniqueIdentifier: string
                          startDate: string
                          endDate: string
                          careOf: string
                          address1: string
                          address2: string
                          address3: string
                          address4: string
                          postCode: string
                          countryCode: string
                          addressType: POSTAL
                          pafId: string
                        historicIndividualShareholder:
                          firstName: string
                          middleNames: string
                          lastName: string
                          fullName: string
                        historicOtherShareholder:
                          currentEntityName: string
                          nzbn: string
                          companyNumber: string
                          entityType: string
                  ultimateHoldingCompany:
                    yn: true
                    name: string
                    type: string
                    number: string
                    nzbn: string
                    country: string
                    effectiveDate: string
                    ultimateHoldingCompanyAddress:
                      - uniqueIdentifier: string
                        startDate: string
                        endDate: string
                        careOf: string
                        address1: string
                        address2: string
                        address3: string
                        address4: string
                        postCode: string
                        countryCode: string
                        addressType: POSTAL
                        pafId: string
                  australianCompanyNumber: string
                  insolvencies:
                    - commenced: string
                      insolvencyType: string
                      insolvencyReport:
                        - name: string
                          filed: true
                          date: string
                      insolvencyAppointee:
                        - firstName: string
                          middleNames: string
                          lastName: string
                          fullName: string
                          organisationName: string
                          appointmentDate: string
                          vacationDate: string
                          email: string
                          insolvencyAppointeePhoneNumber:
                            - uniqueIdentifier: string
                              phonePurpose: string
                              phonePurposeDescription: string
                              phoneCountryCode: string
                              phoneAreaCode: string
                              phoneNumber: string
                              startDate: string
                          insolvencyAppointeeAddress:
                            uniqueIdentifier: string
                            startDate: string
                            endDate: string
                            careOf: string
                            address1: string
                            address2: string
                            address3: string
                            address4: string
                            postCode: string
                            countryCode: string
                            addressType: POSTAL
                            pafId: string
                  removalCommenced: true
                non-company-details:
                  annualReturnFilingMonth: 0
                  countryOfOrigin: string
                  registeredUnionStatus: string
                  charitiesNumber: string
                  balanceDate: string
                roles:
                  - roleType: string
                    roleStatus: string
                    startDate: string
                    endDate: string
                    asicDirectorshipYn: true
                    asicName: string
                    acn: string
                    roleEntity:
                      nzbn: string
                      entityName: string
                    rolePerson:
                      title: string
                      firstName: string
                      middleNames: string
                      lastName: string
                    roleAddress:
                      - uniqueIdentifier: string
                        startDate: string
                        endDate: string
                        careOf: string
                        address1: string
                        address2: string
                        address3: string
                        address4: string
                        postCode: string
                        countryCode: string
                        addressType: POSTAL
                        pafId: string
                    roleAsicAddress:
                      uniqueIdentifier: string
                      startDate: string
                      endDate: string
                      careOf: string
                      address1: string
                      address2: string
                      address3: string
                      address4: string
                      postCode: string
                      countryCode: string
                      addressType: POSTAL
                      pafId: string
                    uniqueIdentifier: string
                tradingAreas:
                  - uniqueIdentifier: string
                    tradingArea: string
                    startDate: string
                    endDate: string
                paymentBankAccounts:
                  - uniqueIdentifier: string
                    accountName: string
                    bankId: string
                    bankBranch: string
                    accountBase: string
                    accountSuffix: string
                    purpose: string
                    startDate: string
                gstNumbers:
                  - uniqueIdentifier: string
                    gstNumber: string
                    purpose: string
                    startDate: string
                supporting-information:
                  documents:
                    - documentId: string
                      documentType: string
                      url:
                        rel: string
                        href: string
                        methods:
                          - string
                      document:
                        rel: string
                        href: string
                        methods:
                          - string
                  proofOfIdentity:
                    - metadataId: string
                      metadataType: string
                      Name: string
                      DateOfBirth: string
                      Number: string
                      Version: string
                      ExpiryDate: string
                  authorityType: DELEGATED
                  organisationId: string
                hibernationStatusCode: string
                hibernationStatusDescription: string
                businessEthnicityIdentifiers:
                  - uniqueIdentifier: string
                    ethnicity: MAORI
                    identifyingFactors:
                      - identifyingFactorOtherDescription: string
                        identifyingFactor: OWNERSHIP_50_PERCENT_OR_MORE
        '304':
          description: Not Modified
        '400':
          description: Request failed validation. Appropriate headers not provided or request did not validate or is not supported.
          headers:
            api-business-govt-nz-Correlation-Id:
              schema:
                type: string
            api-business-govt-nz-Request-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: string
                errorDescription: string
                errorCode: string
                list:
                  - field: string
                    message: string
        '401':
          description: 'Permission Denied, need to be authenticated to access or modify this resource.'
          headers:
            api-business-govt-nz-Correlation-Id:
              schema:
                type: string
            api-business-govt-nz-Request-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: string
                errorDescription: string
                errorCode: string
                list:
                  - field: string
                    message: string
        '403':
          description: 'Permission Denied, need to be authorised to access or modify this resource.'
          headers:
            api-business-govt-nz-Correlation-Id:
              schema:
                type: string
            api-business-govt-nz-Request-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: string
                errorDescription: string
                errorCode: string
                list:
                  - field: string
                    message: string
        '404':
          description: Specified resource was not found.
          headers:
            api-business-govt-nz-Correlation-Id:
              schema:
                type: string
            api-business-govt-nz-Request-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: string
                errorDescription: string
                errorCode: string
                list:
                  - field: string
                    message: string
        '500':
          description: An internal error has ocurred.
          headers:
            api-business-govt-nz-Correlation-Id:
              schema:
                type: string
            api-business-govt-nz-Request-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: string
                errorDescription: string
                errorCode: string
                list:
                  - field: string
                    message: string
  '/entities/{nzbn}/discoverable':
    get:
      tags:
        - 01. Entities
      summary: NZBN_002_1 - Get basic details of a specified NZBN entity and links to additional information.
      description: Get an NZBN Entity
      operationId: EntitiesByNzbnGetDiscoverable
      parameters:
        - name: nzbn
          in: path
          description: NZBN entity to get details for
          required: true
          schema:
            type: string
        - name: api-business-govt-nz-Request-Id
          in: header
          description: Request id. Provide a UUID that is unique to this request.  This header is not required.
          schema:
            type: string
        - name: If-None-Match
          in: header
          description: If-None-Match. Takes an ETag - optional for GET
          schema:
            type: string
      responses:
        '200':
          description: Success
          headers:
            ETag:
              schema:
                type: string
            api-business-govt-nz-Correlation-Id:
              schema:
                type: string
            api-business-govt-nz-Request-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entity'
              example:
                entityStatusCode: string
                entityName: string
                nzbn: string
                entityTypeCode: string
                entityTypeDescription: string
                entityStatusDescription: string
                registrationDate: string
                sourceRegister: string
                sourceRegisterUniqueIdentifier: string
                lastUpdatedDate: string
                australianBusinessNumber: string
                emailAddresses:
                  rel: string
                  href: string
                  methods:
                    - string
                addresses:
                  - rel: string
                    href: string
                    methods:
                      - string
                industryClassifications:
                  rel: string
                  href: string
                  methods:
                    - string
                phoneNumbers:
                  rel: string
                  href: string
                  methods:
                    - string
                websites:
                  rel: string
                  href: string
                  methods:
                    - string
                tradingNames:
                  rel: string
                  href: string
                  methods:
                    - string
                tradingAreas:
                  rel: string
                  href: string
                  methods:
                    - string
                gstNumbers:
                  rel: string
                  href: string
                  methods:
                    - string
                paymentBankAccounts:
                  rel: string
                  href: string
                  methods:
                    - string
                privacySettings:
                  rel: string
                  href: string
                  methods:
                    - string
                company-details:
                  rel: string
                  href: string
                  methods:
                    - string
                non-company-details:
                  rel: string
                  href: string
                  methods:
                    - string
                supporting-information:
                  rel: string
                  href: string
                  methods:
                    - string
                roles:
                  rel: string
                  href: string
                  methods:
                    - string
                organisationParts:
                  rel: string
                  href: string
                  methods:
                    - string
                businessEthnicityIdentifiers:
                  rel: string
                  href: string
                  methods:
                    - string
                hibernationStatusCode: string
                hibernationStatusDescription: string
        '304':
          description: Not Modified
        '400':
          description: Request failed validation. Appropriate headers not provided or request did not validate or is not supported.
          headers:
            api-business-govt-nz-Correlation-Id:
              schema:
                type: string
            api-business-govt-nz-Request-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: string
                errorDescription: string
                errorCode: string
                list:
                  - field: string
                    message: string
        '401':
          description: 'Permission Denied, need to be authenticated to access or modify this resource.'
          headers:
            api-business-govt-nz-Correlation-Id:
              schema:
                type: string
            api-business-govt-nz-Request-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: string
                errorDescription: string
                errorCode: string
                list:
                  - field: string
                    message: string
        '403':
          description: 'Permission Denied, need to be authorised to access or modify this resource.'
          headers:
            api-business-govt-nz-Correlation-Id:
              schema:
                type: string
            api-business-govt-nz-Request-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: string
                errorDescription: string
                errorCode: string
                list:
                  - field: string
                    message: string
        '404':
          description: Specified resource was not found.
          headers:
            api-business-govt-nz-Correlation-Id:
              schema:
                type: string
            api-business-govt-nz-Request-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: string
                errorDescription: string
                errorCode: string
                list:
                  - field: string
                    message: string
        '500':
          description: An internal error has ocurred.
          headers:
            api-business-govt-nz-Correlation-Id:
              schema:
                type: string
            api-business-govt-nz-Request-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: string
                errorDescription: string
                errorCode: string
                list:
                  - field: string
                    message: string
  '/entities/{nzbn}/statuses':
    post:
      tags:
        - 02. Entities Updates
      summary: NZBN_024_2 - Entity Status
      description: Update Entity Status for an NZBN Entity
      operationId: EntitiesEntityStatusPost
      parameters:
        - name: nzbn
          in: path
          description: NZBN entity to get details for
          required: true
          schema:
            type: string
        - name: api-business-govt-nz-Request-Id
          in: header
          description: Request id. Provide a UUID that is unique to this request.  This header is not required.
          schema:
            type: string
      requestBody:
        description: The target entity status.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntityStatus'
            example:
              entityStatusCode: string
              startDate: string
              endDate: string
              statusReasonCode: string
              entityStatusDescription: string
              comment: string
      responses:
        '204':
          description: Success
          headers:
            ETag:
              schema:
                type: string
            api-business-govt-nz-Correlation-Id:
              schema:
                type: string
            api-business-govt-nz-Request-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FullEntity'
              example:
                entityStatusCode: string
                entityName: string
                nzbn: string
                entityTypeCode: string
                entityTypeDescription: string
                entityStatusDescription: string
                registrationDate: string
                sourceRegister: string
                sourceRegisterUniqueIdentifier: string
                lastUpdatedDate: string
                australianBusinessNumber: string
                emailAddresses:
                  - uniqueIdentifier: string
                    emailAddress: string
                    emailPurpose: string
                    emailPurposeDescription: string
                    startDate: string
                addresses:
                  links:
                    - rel: string
                      href: string
                      methods:
                        - string
                  addressList:
                    - uniqueIdentifier: string
                      startDate: string
                      endDate: string
                      careOf: string
                      address1: string
                      address2: string
                      address3: string
                      address4: string
                      postCode: string
                      countryCode: string
                      addressType: POSTAL
                      pafId: string
                industryClassifications:
                  - uniqueIdentifier: string
                    classificationCode: string
                    classificationDescription: string
                phoneNumbers:
                  - uniqueIdentifier: string
                    phonePurpose: string
                    phonePurposeDescription: string
                    phoneCountryCode: string
                    phoneAreaCode: string
                    phoneNumber: string
                    startDate: string
                websites:
                  - uniqueIdentifier: string
                    url: string
                    websitePurpose: string
                    startDate: string
                tradingNames:
                  - uniqueIdentifier: string
                    name: string
                    startDate: string
                    endDate: string
                privacySettings:
                  namePrivateInformation: true
                  tradingNamePrivateInformation: true
                  businessClassificationPrivateInformation: true
                  phonePrivateInformation: true
                  emailPrivateInformation: true
                  partnersPrivateInformation: true
                  trusteesPrivateInformation: true
                  publicSuggestChangesYn: true
                  abnPrivateInformation: true
                  gstNumberPrivateInformation: true
                  paymentBankAccountNumbersPrivateInformation: true
                  registeredAddressPrivateInformation: true
                  postalAddressPrivateInformation: true
                  serviceAddressPrivateInformation: true
                  invoiceAddressPrivateInformation: true
                  deliveryAddressPrivateInformation: true
                  officeAddressPrivateInformation: true
                  businessEthnicityPrivateInformation: true
                company-details:
                  annualReturnFilingMonth: 0
                  financialReportFilingMonth: 0
                  nzsxCode: string
                  annualReturnLastFiled: string
                  hasConstitutionFiled: true
                  countryOfOrigin: string
                  overseasCompany: string
                  extensiveShareholding: true
                  stockExchangeListed: true
                  shareholding:
                    numberOfShares: 0
                    shareAllocation:
                      - allocation: 0
                        shareholder:
                          - type: string
                            appointmentDate: string
                            vacationDate: string
                            individualShareholder:
                              firstName: string
                              middleNames: string
                              lastName: string
                              fullName: string
                            otherShareholder:
                              currentEntityName: string
                              nzbn: string
                              companyNumber: string
                              entityType: string
                            shareholderAddress:
                              uniqueIdentifier: string
                              startDate: string
                              endDate: string
                              careOf: string
                              address1: string
                              address2: string
                              address3: string
                              address4: string
                              postCode: string
                              countryCode: string
                              addressType: POSTAL
                              pafId: string
                    historicShareholder:
                      - type: string
                        appointmentDate: string
                        vacationDate: string
                        historicShareholderAddress:
                          uniqueIdentifier: string
                          startDate: string
                          endDate: string
                          careOf: string
                          address1: string
                          address2: string
                          address3: string
                          address4: string
                          postCode: string
                          countryCode: string
                          addressType: POSTAL
                          pafId: string
                        historicIndividualShareholder:
                          firstName: string
                          middleNames: string
                          lastName: string
                          fullName: string
                        historicOtherShareholder:
                          currentEntityName: string
                          nzbn: string
                          companyNumber: string
                          entityType: string
                  ultimateHoldingCompany:
                    yn: true
                    name: string
                    type: string
                    number: string
                    nzbn: string
                    country: string
                    effectiveDate: string
                    ultimateHoldingCompanyAddress:
                      - uniqueIdentifier: string
                        startDate: string
                        endDate: string
                        careOf: string
                        address1: string
                        address2: string
                        address3: string
                        address4: string
                        postCode: string
                        countryCode: string
                        addressType: POSTAL
                        pafId: string
                  australianCompanyNumber: string
                  insolvencies:
                    - commenced: string
                      insolvencyType: string
                      insolvencyReport:
                        - name: string
                          filed: true
                          date: string
                      insolvencyAppointee:
                        - firstName: string
                          middleNames: string
                          lastName: string
                          fullName: string
                          organisationName: string
                          appointmentDate: string
                          vacationDate: string
                          email: string
                          insolvencyAppointeePhoneNumber:
                            - uniqueIdentifier: string
                              phonePurpose: string
                              phonePurposeDescription: string
                              phoneCountryCode: string
                              phoneAreaCode: string
                              phoneNumber: string
                              startDate: string
                          insolvencyAppointeeAddress:
                            uniqueIdentifier: string
                            startDate: string
                            endDate: string
                            careOf: string
                            address1: string
                            address2: string
                            address3: string
                            address4: string
                            postCode: string
                            countryCode: string
                            addressType: POSTAL
                            pafId: string
                  removalCommenced: true
                non-company-details:
                  annualReturnFilingMonth: 0
                  countryOfOrigin: string
                  registeredUnionStatus: string
                  charitiesNumber: string
                  balanceDate: string
                roles:
                  - roleType: string
                    roleStatus: string
                    startDate: string
                    endDate: string
                    asicDirectorshipYn: true
                    asicName: string
                    acn: string
                    roleEntity:
                      nzbn: string
                      entityName: string
                    rolePerson:
                      title: string
                      firstName: string
                      middleNames: string
                      lastName: string
                    roleAddress:
                      - uniqueIdentifier: string
                        startDate: string
                        endDate: string
                        careOf: string
                        address1: string
                        address2: string
                        address3: string
                        address4: string
                        postCode: string
                        countryCode: string
                        addressType: POSTAL
                        pafId: string
                    roleAsicAddress:
                      uniqueIdentifier: string
                      startDate: string
                      endDate: string
                      careOf: string
                      address1: string
                      address2: string
                      address3: string
                      address4: string
                      postCode: string
                      countryCode: string
                      addressType: POSTAL
                      pafId: string
                    uniqueIdentifier: string
                tradingAreas:
                  - uniqueIdentifier: string
                    tradingArea: string
                    startDate: string
                    endDate: string
                paymentBankAccounts:
                  - uniqueIdentifier: string
                    accountName: string
                    bankId: string
                    bankBranch: string
                    accountBase: string
                    accountSuffix: string
                    purpose: string
                    startDate: string
                gstNumbers:
                  - uniqueIdentifier: string
                    gstNumber: string
                    purpose: string
                    startDate: string
                supporting-information:
                  documents:
                    - documentId: string
                      documentType: string
                      url:
                        rel: string
                        href: string
                        methods:
                          - string
                      document:
                        rel: string
                        href: string
                        methods:
                          - string
                  proofOfIdentity:
                    - metadataId: string
                      metadataType: string
                      Name: string
                      DateOfBirth: string
                      Number: string
                      Version: string
                      ExpiryDate: string
                  authorityType: DELEGATED
                  organisationId: string
                hibernationStatusCode: string
                hibernationStatusDescription: string
                businessEthnicityIdentifiers:
                  - uniqueIdentifier: string
                    ethnicity: MAORI
                    identifyingFactors:
                      - identifyingFactorOtherDescription: string
                        identifyingFactor: OWNERSHIP_50_PERCENT_OR_MORE
        '400':
          description: Request failed validation. Appropriate headers not provided or request did not validate or is not supported.
          headers:
            api-business-govt-nz-Correlation-Id:
              schema:
                type: string
            api-business-govt-nz-Request-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: string
                errorDescription: string
                errorCode: string
                list:
                  - field: string
                    message: string
        '401':
          description: 'Permission Denied, need to be authenticated to access or modify this resource.'
          headers:
            api-business-govt-nz-Correlation-Id:
              schema:
                type: string
            api-business-govt-nz-Request-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: string
                errorDescription: string
                errorCode: string
                list:
                  - field: string
                    message: string
        '403':
          description: 'Permission Denied, need to be authorised to access or modify this resource.'
          headers:
            api-business-govt-nz-Correlation-Id:
              schema:
                type: string
            api-business-govt-nz-Request-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: string
                errorDescription: string
                errorCode: string
                list:
                  - field: string
                    message: string
        '404':
          description: Specified resource was not found.
          headers:
            api-business-govt-nz-Correlation-Id:
              schema:
                type: string
            api-business-govt-nz-Request-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: string
                errorDescription: string
                errorCode: string
                list:
                  - field: string
                    message: string
        '500':
          description: An internal error has ocurred.
          headers:
            api-business-govt-nz-Correlation-Id:
              schema:
                type: string
            api-business-govt-nz-Request-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: string
                errorDescription: string
                errorCode: string
                list:
                  - field: string
                    message: string
  '/entities/{nzbn}/action-update-australian-business-numbers':
    post:
      tags:
        - 02. Entities Updates
      summary: NZBN_005_1 - Update Australian Business Number
      description: Update Australian Business Number for an NZBN Entity
      operationId: EntitiesABNActionUpdate
      parameters:
        - name: nzbn
          in: path
          description: NZBN entity to get details for
          required: true
          schema:
            type: string
        - name: api-business-govt-nz-Request-Id
          in: header
          description: Request id. Provide a UUID that is unique to this request.  This header is not required.
          schema:
            type: string
      requestBody:
        description: The target Entity.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAustralianBusinessNumberRequest'
            example:
              australianBusinessNumber: string
      responses:
        '200':
          description: Success
          headers:
            ETag:
              schema:
                type: string
            api-business-govt-nz-Correlation-Id:
              schema:
                type: string
            api-business-govt-nz-Request-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateAustralianBusinessNumberResponse'
              example:
                nzbn: string
                entityName: string
                australianBusinessNumber: string
        '400':
          description: Request failed validation. Appropriate headers not provided or request did not validate or is not supported.
          headers:
            api-business-govt-nz-Correlation-Id:
              schema:
                type: string
            api-business-govt-nz-Request-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: string
                errorDescription: string
                errorCode: string
                list:
                  - field: string
                    message: string
        '401':
          description: 'Permission Denied, need to be authenticated to access or modify this resource.'
          headers:
            api-business-govt-nz-Correlation-Id:
              schema:
                type: string
            api-business-govt-nz-Request-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: string
                errorDescription: string
                errorCode: string
                list:
                  - field: string
                    message: string
        '403':
          description: 'Permission Denied, need to be authorised to access or modify this resource.'
          headers:
            api-business-govt-nz-Correlation-Id:
              schema:
                type: string
            api-business-govt-nz-Request-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: string
                errorDescription: string
                errorCode: string
                list:
                  - field: string
                    message: string
        '404':
          description: Specified resource was not found.
          headers:
            api-business-govt-nz-Correlation-Id:
              schema:
                type: string
            api-business-govt-nz-Request-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: string
                errorDescription: string
                errorCode: string
                list:
                  - field: string
                    message: string
        '500':
          description: An internal error has ocurred.
          headers:
            api-business-govt-nz-Correlation-Id:
              schema:
                type: string
            api-business-govt-nz-Request-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: string
                errorDescription: string
                errorCode: string
                list:
                  - field: string
                    message: string
  '/entities/{nzbn}/addresses':
    get:
      tags:
        - 01. Entities
      summary: NZBN_004_1 - Get Addresses
      description: Get Address information for the NZBN
      operationId: EntitiesAddressesByNzbnGet
      parameters:
        - name: nzbn
          in: path
          description: NZBN entity to get details for
          required: true
          schema:
            type: string
        - name: address-type
          in: query
          description: Address Type enum
          required: true
          schema:
            type: string
        - name: api-business-govt-nz-Request-Id
          in: header
          description: Request id. Provide a UUID that is unique to this request.  This header is not required.
          schema:
            type: string
        - name: If-None-Match
          in: header
          description: If-None-Match. Takes an ETag - optional for GET
          schema:
            type: string
      responses:
        '200':
[...]
